.App {
  text-align: center;
}

.App-logo {
  height: 60px;
  width: 60px;
  pointer-events: none;
  padding-right: 10px;
  padding-left: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.footer {
  color: rgba(0, 0, 0, 0.54);
  /* background-color: #ade498; */
  background-color: #6badeb;
  position: fixed;
  bottom: 0px;
  width: 98.75vw; 
  font-size: small;
  /* font-weight: bold; */
  line-height: 3;
  letter-spacing: normal;
  padding-bottom: 5;
  text-align: center;
  text-decoration-line: underline;
  /* border-radius: 20px; */
  margin:10px;
}
.header{
  background-color: #ade498;
  height: 70px;
  padding-top: 10px;
  padding-bottom: 5px;
  border-radius: 20px;
  text-align: left;
  font-weight: bold;
  font-size: 30px;
  margin: 10px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.counter{
  text-align: right;
  padding-top: 5px;
  font-size: medium;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

/* html{
  background-color: lightgoldenrodyellow;
} */

.calculator {
  background-color: rgb(22, 129, 40);
  color: white;
  border: solid;
  border-width: 8px;
  border-color: rgb(97, 44, 18);
  font-size: 1.25em;
  width: 40vw;
  float: left;
  margin-left: -2vw;
  margin-right: 1vw;
  border-radius: 20px;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding-top: 1%;
  padding-bottom: 2%;
}

.DisCalcTitle {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  width: 98vw;

}

.info {
  width: 40vw;
  float: left;
  margin-left: 3vw;
  font-size: large;
  font-weight: bold;
  font-family: "Comic Sans MS", cursive, sans-serif;
  background-color: rgb(22, 129, 40);
  border-radius: 20px;
  height: 410px;
  color: white;
  border: solid;
  border-width: 8px;
  border-color: rgb(97, 44, 18);
  text-align: center;
}

.DisCalcBg {
  background-color: #fceec5;
  width: 100vw;
}

.bodyWrapper {
  width: 92vw;
  margin-top: 0;
  margin-left: 3vw;
  margin-right: 3vw;
  padding-left: 5vw;
  /* display: inline-block; */
}

@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');

.basketWeight {
  font-family: 'Patrick Hand';
  font-size: small;
  width: 20vw;
  /* padding-left: 20vw; */
  margin-left: 25vw;
  /* padding-top: 10vh; */
  margin-top: 5vh;
  margin-right: 1vw;
  float: left;
   background-color: rgba(255, 255, 255, 0.788); 
  color: black;
  border-radius: 30px;
  /* -webkit-text-stroke: 0.1px white; */

}

.basket {
  width: 15vw;
  height: 15vw; 
  float: left;
}

.basketWrapper {
  width: 92vw;
  margin-bottom: 0;
  margin-left: 4vw;
  margin-right: 4vw; 
  display: inline-block;
  text-align: center;
}

.basket-body-wrap {
  width: 30vw;
  margin: 0;
}

.inputs {
  margin-top: 2vw;
  margin-bottom: 2vw;
  margin-right: 2vw;
}

.buttonPlanetModal{
  margin-bottom: 5vw;
  }


.startButton{
  text-align: center;
  font-family: starWars;
  border: none;
  color:#2fb0c7;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  position: relative;
  box-sizing: border-box;
  transition: all 500ms ease; 
}

.startButton:hover {
  color: white;
  border: white solid 2px;
  background: white;
  font-weight: bold;
}

.money{
  height: 150px;
  width: 150px;
  padding-top: 15%;
}

.infoTitle{
  font-size: x-large;
}

@font-face {
  font-family: starWars;
  src: url("images/starWars.ttf");
}

@font-face {
  font-family: fruitFont;
  src: url("/fonts/BubblegumSans-Regular.otf");
}

.homePage {
  background: blanchedalmond;
  height: 100%;
  text-align: center;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

.home {
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 700;
}

.homeSubTitle {
  text-align: center;
  font-family: 'Montserrat', sans-serif; 
  font-weight: 700;
}

.mathTitle {
  text-align: center;

  color:black;
  font-size: 50px;
 line-height: 84%; 
 font-family: 'Patrick Hand';
   background-clip: text;
  -webkit-background-clip: text; 
   text-shadow: 7px 7px 0px #a4bfd875; 
  margin-bottom: 0;
}

.mathSmallTitles {
  text-align: center;
  font-family: 'Patrick Hand'; 
  font-size: medium;
  color: black; 
  font-size: medium;
  margin-bottom: 0;
  /* background-color:#2fb0c7;  */
}

#basketButton {
  text-align: center;
  margin: 0;
  margin-top: 1vw;
}

.fruitWeight {
  font-family: 'Patrick Hand';
 font-size: medium;
 font-weight: bold;
 color: black;
}


.fruitTitle {
  font-size: x-large;
  text-shadow: 2px 2px 0px gainsboro;
  font-family: 'Patrick Hand';
  font-weight: bold;
  color: black;
}

.fruitBackground{
   background-image: url("images/grass-background.png");  
   background-color: #b2ebf2; 
    background-repeat: no-repeat; 
    background-size: cover; 
}

.float {
  float: left;
  border-width: 8px;
  border-color: #eeeeee;
}

 .fruit{
  margin-right: 3vw;
  margin-left: 3vw;
} 

.titles{
  text-align: center;
  font-family: starWars;
  color: white; 
  font-size: xlarge;
}

.smallTitles{
  text-align: center;
  font-family: cursive;
  color: white; 
  font-size: medium;
}

.mediumTitles{
  text-align: center;
  font-family: cursive;
  color: white; 
  font-size: larger;
}

.planets{
  padding-right: 3vw;
}

.sun {
  background-color: #fdc830;
  background-repeat: no-repeat;
  height: 15vw;
  width: 15vw;
  border-radius: 50%;
  display: inline-block;
  background-size: cover;
  box-shadow: 0 0 2vw .1vw #fdc830;
  margin-right: 2vw; 
      
}

.mercury {
width: 1.5vw; 
height: 1.5vw;
}

.venus {
width: 3vw; 
height: 3vw;
}

.earth {
width: 4.2vw; 
height: 4.2vw;
}

.mars {
  width: 2.5vw; 
  height: 2.5vw;
}

.jupiter {
  width: 7vw; 
  height: 7vw;

}

.saturn {
  height: 6vw;
  width: 10vw;
}

.uranus {
  height: 5.7vw;
  width: 9vw;
}

.neptune {
  width: 5.5vw; 
  height: 5.5vw;
}

.planetTitle {
  font-family: starWars;
  font-size: x-large;
  box-shadow: 0 0 2vw .1vw #3958e0;

}

.planetDescription {
  font-family: sans-serif;
  font-size: medium;
}

.gridRoot {
  flex-grow: 1;
  height: 20vw;
  width: 50vw;
  display: inline-block;
}

.gridCard {
  height: 20vw;
  width: 15vw;
  text-align: center;
  text-decoration: none;
  padding: 1vw;
}

.scienceBackground {
  background-image: url("images/space.png");
}


@keyframes bounce {
 0%, 20%, 60%, 100% {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

 40% {
  -webkit-transform: translateY(-20px);
  translate: translateY(-20px);
 }

 80% {
  -webkit-transform: translateY(-10px);
  translate: translateY(-10px);
  }
}

.planets:hover{
  animation: bounce 1s;
}

.fruit:hover {
  animation: bounce 1s;
}
 
.apple {
  width: 7.5vw;
  height: 10vh;
}
.banana {
  width: 7.5vw;
 height: 10vh;
}

.kiwi {
  width: 7.5vw;
    height: 9vh;

}

.blueberry {
  width: 7.5vw;
  height: 10vh;

}

.oranges {
  width: 7.5vw;
  height: 10vh;

}

.watermelon {
  width: 7.5vw;
  height: 10vh;

}
.paper{
    position: 'absolute';
    width: 400px;
    background-color: white;/*theme.palette.background.paper;*/
    border: '2px solid #000';
    box-shadow: 5px;/*theme.shadows[5];*/
    padding: 2px, 4px, 3px;/*theme.spacing(2, 4, 3);*/
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  padding: 1vw;
}

.modal-main {
  position:fixed;
  background: white;
  width: 30%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  text-align: center;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.scale{
  height: 5 vw;
  width: 2 vw;
}

.map-selected {
  fill: #e35137;
}
 
.map-unselected {
  fill: #3a81219c;
}

.map-correct-selected {
  fill: #05e705;
}
 
.map-selected:hover, .map-unselected:hover {
  cursor: pointer;
}

.map-img {
  height: 60vh;  
}

#appbar {
  background-color: #6badeb;
  color: black;
  text-align: center;
}

.map-container {
  text-align: center;
  /* background: #00bbd463; */
  
}

.geography-wrapper {
  background: #00bbd463;
  height: 100%;
  text-align: center;
}

.map-container-sqrd {
  width: 80vw;
  height: 70vh;
  border-radius: 20px;
  border: solid;
  border-width: 6px;
  border-color: rgb(245, 245, 245);
  margin-left: 9vw;
  margin-right: 9vw;
}

.cont-title {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
.cont-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
.cont-header {
  text-align: center;
}
.buttonContModal{
  margin-bottom: 2vw;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  }


#mathCard {
  text-decoration: none;
  margin: 2vw;
  padding: 0;
}
#scienceCard {
  text-decoration: none;
  margin: 2vw;
  padding: 0;
}
#geoCard {
  text-decoration: none;
  margin: 2vw;
  padding: 0;
}

#weightCard {
  text-decoration: none;
  margin: 4vw;
  padding: 0;
}

#discountCard {
  text-decoration: none;
  margin: 4vw;
  padding: 0;
}

/*trying something dont mind me!*/
@import url("https://fonts.googleapis.com/css?family=Modak");
